
body {
	font-size: 12px;
	font-family: sans-serif;
    margin: 20px;
}

h1 {
    margin-top: 0px;
}

table {
	border-collapse: collapse;
}

td {
	padding: 5px;
	border: 1px solid #888;
}

#short {
	color: red;
    font-family: monospace;
}

#long {
	margin-bottom: 30px;
}



