body {
	font-family: sans-serif;
	font-size: 12px;
	margin: 20px;
}

h1 {
	font-size: 200%;
}

h2 {
	margin: 15px 0px 5px 0px;
}


label {
	width: 200px;
	float: left;
    padding-top: 5px;
}

#form {
	background: #eee;
	padding: 10px;
	margin: 15px 0px;
}
#form p {
	margin: 5px 0px;
}
#form select, #form input.txt {
	width: 300px;
	font-size: 14px;
}
#form input.txt {
	width: 286px;
}
#form input[type="submit"] {
    margin-left: 200px;
}

#left {
	float: left;
	width: 300px;
}
#left h2 {
    margin: 0 0 5px 0;
}
#left p {
    margin: 0 0 20px 0;
}
#right {
	margin-left: 340px;
}

#urls ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#desc {
    padding: 15px;
}
#desc table {
	border-collapse: collapse;
	border: 1px solid #888;
}

#desc #short {
	color: red;
    font-family: monospace;
}
#desc #long {
	margin-bottom: 20px;
}
#desc h1 {
	margin-top: 0px;
}


#desc td {
	border: 1px solid #888;
	padding: 5px;
}

#footer {
	clear: both;
	font-size: 10px;
	text-align: center;
	padding-top: 30px;
	color: #888;
}
#footer a {
	color: #888;
	text-decoration: none;
}

#left, #left a {
	color: #444;
}
#right a {
	color: blue;
}

#left a:hover, #right a:hover, #footer a:hover {
	color: #f44;
}


a {
	text-decoration: none;
}



