body {
	font-family: sans-serif;
	font-size: 12px;
	margin: 20px;
}

h1 {
	font-size: 200%;
}

label {
	width: 200px;
	float: left;
}

#form {
	background: #eee;
	padding: 10px;
}
#form p {
	margin: 5px 0px;
}
#form select, #form input.txt {
	width: 300px;
	height: 26px;
	padding: 2px;
	font-size: 14px;
}
#form input.txt {
	height: 20px;
	width: 286px;
	padding: 5px;
}

#left {
	float: left;
	width: 300px;
}
#right {
	margin-left: 340px;
}

#urls ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}



