<!DOCTYPE html>
<html ng-app="aptweb"><head>
<title>apt-web</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/aptweb.css">
<style type="text/css">
footer.copyright {
  text-align: center;
  padding-top: 100px;
}
</style>
</head><body><div class="container">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://apt-web.dahsy.at">apt-web</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" data-toggle="modal" data-target="#contact">Contact</a></li>
        <li><a href="https://github.com/fajran/apt-web">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact</h4>
      </div>
      <div class="modal-body">
        <p>Thank you for using apt-web!</p>
        <p>If you found bugs, have suggestions, or improvements; or maybe need more distributions and mirrors, please submit a new issue at GitHub!</p>
        <p style="text-align:center"><a class="btn btn-success" href="https://github.com/fajran/apt-web/issues/new" target="_blank">New Issue</a></p>
        <p>or send an email to apt-web at dahsy.at</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div ng-controller="SearchCtrl" ng-init="init()">
<form class="form-horizontal">
  <div class="form-group">
    <label for="dist" class="col-sm-2 control-label">Distribution</label>
    <div class="col-sm-5">
      <select class="form-control" id="dist"
              ng-model="dist"
              ng-options="dist.name for dist in dists">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="repo" class="col-sm-2 control-label">Mirror</label>
    <div class="col-sm-5">
      <select class="form-control" id="repo"
              ng-model="repo"
              ng-options="repo.name for repo in repos">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="pkgs" class="col-sm-2 control-label">Packages</label>
    <div class="col-sm-5">
      <input class="form-control" id="pkgs" type="text" placeholder="Package list"
              ng-model="pkgs"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <button class="btn btn-default" type="submit"
              ng-click="search()">Search</button>
    </div>
  </div>
</form>

<div ng-show="result">
  <div ng-show="result.urls.length">
    <h2>URLs</h2>

    <ul>
    <li ng-repeat="url in result.urls">
      <a ng-href="{{ repo.url }}{{ url }}">{{ repo.url }}{{ url }}</a>
    </li>
    </ul>
  </div>

  <div ng-show="result.suggested.length">
    <h2>Suggested</h2>

    <ul>
    <li ng-repeat="pkg in result.suggested"
        ng-bind="pkg">
    </li>
    </ul>
  </div>

  <div ng-show="result.recommended.length">
    <h2>Recommended</h2>

    <ul>
    <li ng-repeat="pkg in result.recommended"
        ng-bind="pkg">
    </li>
    </ul>
  </div>
</div><!-- //result -->

</div><!-- //controller -->

<footer class="copyright">
    <p>&copy; 2007&ndash;2015 <a href="https://fajran.web.id/?ref=apt-web">Fajran Iman Rusadi</a>
</footer>

</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/aptweb.js"></script>
<script>
  var GOOGLE_ANALYTICS_ID = ''; //'UA-11936279-2';
  if (GOOGLE_ANALYTICS_ID) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','_ga');
  }
  else {
    window._ga = function() {
      console.log('ga', arguments);
    }
  }
  _ga('create', GOOGLE_ANALYTICS_ID, 'auto');
  _ga('send', 'pageview');
</script>
</body>

