<!DOCTYPE html>
<html ng-app="aptweb"><head>
<title>apt-web</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/aptweb.css">
</head><body><div class="container">

<h1>apt-web</h1>

<div ng-controller="SearchCtrl" ng-init="init()">
<form class="form-horizontal">
  <div class="form-group">
    <label for="dist" class="col-sm-2 control-label">Distribution</label>
    <div class="col-sm-5">
      <select class="form-control" id="dist"
              ng-model="dist"
              ng-options="dist.name for dist in dists">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="repo" class="col-sm-2 control-label">Mirror</label>
    <div class="col-sm-5">
      <select class="form-control" id="repo"
              ng-model="repo"
              ng-options="repo.name for repo in repos">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="pkgs" class="col-sm-2 control-label">Packages</label>
    <div class="col-sm-5">
      <input class="form-control" id="pkgs" type="text" placeholder="Package list"
              ng-model="pkgs"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <button class="btn btn-default" type="submit"
              ng-click="search()">Search</button>
    </div>
  </div>
</form>

<div ng-show="result">
  <div ng-show="result.urls.length">
    <h2>URLs</h2>

    <ul>
    <li ng-repeat="url in result.urls">
      <a ng-href="{{ repo.url }}{{ url }}">{{ repo.url }}{{ url }}</a>
    </li>
    </ul>
  </div>

  <div ng-show="result.suggested.length">
    <h2>Suggested</h2>

    <ul>
    <li ng-repeat="pkg in result.suggested"
        ng-bind="pkg">
    </li>
    </ul>
  </div>

  <div ng-show="result.recommended.length">
    <h2>Recommended</h2>

    <ul>
    <li ng-repeat="pkg in result.recommended"
        ng-bind="pkg">
    </li>
    </ul>
  </div>

</div>
</div>

</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/aptweb.js"></script>
</body>
